/*@import url('https://fonts.googleapis.com/css2?family=font-name@family=optional-2nd-font-name@display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap');

:root {
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #00B4D8;
    --accent2-color: #90E0EF;
/* Color Pallete link  https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8 */
    

    --heading-font: 'Arial', serif;
    --paragraph-font: 'Georgia', serif;

    --nav-background-color: #780000;
    --nav-link-color: #669bbc;
    --nav-hover-link-color: #fdf0d5;
    --nav-hover-background-color: #003049;
}

body {
    font-family: Georgia;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black';
    color: black;
}

header {
    padding: 20px;
    background-color:skyblue;
}

p {
    padding: 25px;
}

nav {
background-color: navy;
font-size: 1.2rem;
display: flex;
}

nav a {
    display: block;
    color: purple;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color:red;
}

nav a:hover {
    color:white;
    background-color: skyblue;
}